.spade { background-position: 5px 0px; }
.heart { background-position: -50px 0px; }
.diamond { background-position: 5px -50px; }
.club { background-position: -50px -50px; }

.spade, .heart, .diamond, .club {
	height: 50px; width: 50px;
	background-image: url('../images/French_suits.svg');
	background-repeat : no-repeat;
  	overflow          : hidden;
  	background-size: 100px auto;
}

.noturn
{
	width: 100px;
	height:200px;
	border-radius: 25px;
	background-color: red;
  float:left;
}

.turn
{
	width: 100px;
	height:200px;
	border-radius: 25px;
	background-color: green;
  float:left;
}

.centre
{
  width: 100px;
  height:200px;
  border-radius: 25px;
  background-color: green;
  float:left;
}

.row{
  width:100%;
  /*display:block;*/
}

#game-controls{
  clear:both;
}
