<header ng-show="snap">Snap!!!</header>

<section id="game-table">

  {{playerTurn}}
  <!--cpu cards-->
  <div ng-class="{'turn':playerTurn==1,'noturn':playerTurn==0 }"></div>


  <!--image of the card goes here-->

  <div class="{'spade':lastPickerCard.suit=='s'}"></div>

  {{lastPickedCard.number}}
  {{lastPickedCard.suit}}

  <!--player cards-->
  <div ng-class="{'turn':playerTurn==0,'noturn':playerTurn==1 }" ng-click="pickCard(0)"></div>

</section>

<section id="game-controls">
  <button>Snap</button>
  <button ng-click="dealCards()">start</button>
</section>

<section>slider</section>
